%p.text-center
  %span.label.label-info Adding timetable
%br

.form-signin
  = render 'form'

  - if current_user.admin
    = link_to 'Back', master_index_path
  - else
    = link_to 'Back', timetables_path