= simple_form_for @user do |f|
  = f.input :name, label: 'Name:<br/>'
  %br
  - if current_user.admin
    - if params[:id] != current_user.id.to_s || @check > 1
      = f.input :admin, label: ' - is Admin'
    %br
  = f.button :submit